*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
.navigation{
    display: flex;
    position: sticky;
    align-items: center;
    top: 0px;
}
.navigation::before{
    content: "";
    position: absolute;
    background: black;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.59;
}
#navList{
    display: flex;
    
}
.navListItem{
    list-style: none;
    margin: 10px;
}
.navListItem a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: rgb(243, 160, 160);
}
.navListItem a:hover,
.navListItem a:active,
.navListItem a.active,
.navListItem button:hover,
.navListItem button:active {
  color: #ffeb3b;
}



.submitMain{
    margin-top: 10px;
    width: 100px;
}
#logo{
    margin: 10px 45px;
}
#logo img{
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 25px;
    
}
.authList{
    display: flex;
}
#authList{
    display: flex;
}
.authListItem{
    list-style: none;
    margin: 10px;
}
.authListItem a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: rgb(243, 160, 160);
}
.authListItem a:hover{
    color: rgb(57, 99, 240);

}
.authForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.authForm input{
    margin-top: 15px;
    width: 30%;
}
#authHeading{
    margin: 20px;
    font-size: 25px;
}
#authSubmit{
    margin: 20px;
    width: 5%;
}
.authContainer::before{
    content: "";
    position: absolute;
    background: url('../img/home.jpg') no-repeat center center/cover ;
    /* height: 550px; */
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;

} 
.authListItem button{
    background: transparent;
    border-color: transparent;
    border: none;
    text-decoration: none;
    padding: 15px;
    color: rgb(243, 160, 160);
    cursor: pointer;
  }
  .authListItem button:hover{
      color: rgb(57, 99, 240);
  }
  .authListItem a:hover,
  .authListItem a:active,
  .authListItem a.active,
  .authListItem button:hover,
  .authListItem button:active {
    color: #ffeb3b;
  } 
  .authContainer h3{
      margin-top: 10px;
  }
  #errorMessage{
      margin-top: 10px;
      color: red;
  }
  .authContainer textarea{
    margin: 10px;
    width: 30%;
  }